
# Dev environment files
.env
*.log
test-output.json

## Dist
dist
lib

# Yarn zero-installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Badly-behaved npm module junk
node_modules

# Typescript build info
tsconfig.tsbuildinfo

# Mac
.DS_Store
